@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');

html , body {
    font-family:'Baloo Bhai', sans-serif;
    color: seashell;
    margin: 0px;
    padding: 0px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
    /* display: inline-block; */
   
}
#particles-js {
    width:100%;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .brand{
    height: 100px;
    width: 150px;
    left: 41px;
    position: fixed;
    top: -26px;
}
  
header {
    z-index: 1;
    position: fixed;
    width: 100%;
    background: rgba(19, 18, 18, 0.788);
    top: 0px;
}

a {
    text-decoration: none;
    color: grey;
}

#side-bar-toggle{
    top: 11px;
    position: relative;
    left: 3px;
    background: rgba(0, 0, 0, 0);
    border-radius: 5px;
    outline: none;
    border: none;
}

.bar1, .bar2, .bar3{
    width: 25px;
    height: 3px;
    background: white;
    margin: 6px 0px;
    transition: 400ms;
}

 .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
} 

#header-title {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    transition: color 500ms;
}

#header-title:hover {
    color: red;
}

.header-link {
    float: right;
    padding: 17px 10px; 
    background: none;
    transition: background 1s;

}

#dropdown {
    display: inline;
    right: 0px;
}

#dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    list-style: none;
    background: rgba(19, 19, 19, 1);
    width: 150px;
    top: 50px;
    right: 130px;
    z-index: 1;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    transition: 300ms;
}

.dropdown-link {
    display: list-item;
    padding: 10px;

}

.header-link:hover {
    background: rgb(189, 190, 190);
}

.navigation-bar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background: rgba(19, 19, 19, 1);
    position: fixed;
    z-index: 1;
    width: 0px;
    max-width: 30%;
    height: 100%;
    transition: width 200ms;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    top:60px;
}

.nav-bar-head {
    margin-left: 10px;
    padding: 15px;
}

ul {
    padding-inline-start: 0px;
}



.nav-item {
    margin-left: 20px;
    list-style: none;
    padding: 10px 10px 10px 20px;
    transition: background 200ms, color 200ms;
    font-size: 20px;
    /* color: tomato; */
}

/* .nav-item:active {
    background: rgba(40, 40, 40, 1);

}

a:hover {
    color: tomato;
} */
.nav-item a{
       color: burlywood;
    font-size: 20px;
font-weight: bold;

}
.nav-item a:hover{
    color: none;
    text-shadow: 5px 5px 6px yellow;
   
}
/* .item {
    background: url(./img/img.jpg);
    width: 10%;
    height: 300px;
    display: inline-block;
    border: 5px solid white;
    border-radius: 5px;
    margin: 50px;
    padding: 50px;
    background-size: cover !important;
    background-position: center !important;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    transition: width 600ms ease-out, height 600ms ease-out;
} */

@media (prefers-color-scheme : dark) {
    body {
        color: seashell;
    }
    header {
        background: rgba(19, 18, 18, 0.788);
    }
    a:hover {
        color: white;
    }
    .nav-item:active {
        background: rgba(40, 40, 40, 1);
    }
    .navigation-bar {
        background: rgba(19, 19, 19, 1);
    }
    .header-link:hover {
        background: rgb(189, 190, 190);
    }
    .bar1, .bar2, .bar3 {
        background: white;
    }
    a {
        color: grey;
    }

    .dropdown-menu {
        background: rgba(19, 19, 19, 1);
    }
    #sidebar-toggle {
        background: black;
    }

}

@media (prefers-color-scheme : light) {
    body {
        color: black;
    }
    header {
        background: rgba(255, 255, 255, 0.788);
    }
    a:hover {
        color: black;
    }
    .nav-item:active {
        background: rgba(255, 255, 255, 1);
    }
    .navigation-bar {
        background: rgba(255, 255, 255, 1);
    }
    .header-link:hover {
        background: rgb(60, 60, 60);
    }
    .bar1, .bar2, .bar3 {
        background: black;
    }
    a {
        color: rgba(60,60,60);
    }

    .dropdown-menu {
        background: rgba(200, 200, 200, 1);
    }
    #sidebar-toggle {
        background: white;
    }

}

/* @media screen and (min-width:'567px'){
    .navigation-bar{
        flex-direction: row;
    }
}  */


.container{
    top: 50px;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    position: relative;
    /* width:100%; */
    /* flex-direction: row; */
    margin-left: 50px;

}


.flip-card {
    
    background-color: transparent;
    width: 250px;
    height: 400px;
    perspective: 1000px;
    margin: 50px;
    padding: 0px;
  }
  .flip-card-inner {
      
    position: relative;
    width: 100%;
    height: 100%;
    
    transition: transform 1000ms;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    
    backface-visibility: hidden;
  }
  .flip-card-front{
    background-size: cover !important;
    background-position: center !important;
      
  }
  
 .flip-card-back {
    
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }