<!DOCTYPE html>
<html>

<head>
    <title>XStream : {%block title%} {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="description" content="free movies and tv series.">
    <meta name="author" content="soham singh yadav" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link rel="stylesheet" href="/static/css/style.css" />
</head>

<body style="background: wheat;">
    <header>
        <button id="side-bar-toggle">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </button>


        <img class="brand" src="/static/img/logo.png" alt="Eroooor Loading iimage" />


        <a href="#" class="header-link">LATEST</a>
        <a href="#" class="header-link">POPULAR</a>
        <div id="dropdown">
            <a href="#" class="header-link" id="dropdown-toggle">EXTRAS</a>
            <div class="dropdown-menu">
                <a class="dropdown-link">one</a>
                <a class="dropdown-link">one</a>
                <a class="dropdown-link">one</a>
            </div>
        </div>
    </header>
    <main>

        <section class="navigation-bar">
            <h4 class="nav-bar-head">CATEGORIES</h4>
            <ul>
                <li class="nav-item"><a href="#">Movies</a></li>
                <li class="nav-item"><a href="#">Sitcoms</a></li>
                <li class="nav-item"><a href="#">TV Series</a></li>
                <li class="nav-item"><a href="#">Anime</a></li>
            </ul>
        </section>
        <div class="container">
            {%block main%} {% endblock%}
        </div>

    </main>
    <footer></footer>
    <div id="particles-js"></div>

    <!-- <script src="./js/three.min.js"></script> -->
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/particles.min.js"></script>
    <!-- <script src="particles.js"></script> -->
    <script src="/static/js/script.js"></script>
</body>

</html>